h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-bottom: 4px dashed gold;
    border-width: 5px;
}

body {
    background-color: darkgray;
    margin-top: 1%;
    margin-bottom: 1%;
}

#board {
    background-color: darkslategray;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

dt {
    list-style: disc;
    display: list-item;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
}
dd {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 2.5px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 30px 1px black inset;
    text-align: justify;
}

#bottom_logo {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
}
