#distro_logos {
    font-family: 'Ubuntu', sans-serif;
    background-color: #DFDFDF;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    border: 5px solid #008F6D;
    margin-top: 1%;;
    padding-bottom: 1%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding-left: 5px;
}

.rounded_line {
    border: 0;
    height: 5px;
    background: #008F6D;
    border-radius: 5px;
    margin-left: 12%;
    margin-right: 12%;
}

#table_1 {
    padding-bottom: 10px;
}

#table_2 {
    padding-top: 10px;
}