body {
  margin: 0;
  overflow: hidden;
}

footer {
  font-family: "Ubuntu", sans-serif;

  height: 8vh;

  margin-top: 90vh;

  background-color: slategray;
}

#ikona_tux {
  margin-top: -45px;
}

#footer_text {
  text-align: center;
  padding-top: 15px;
}
